body {
    background: black;
    height: 100%;
    width: 100%;
}
h1 {
    color: red;
}
h3 {
    color: yellow;
}
form {
    color: white;
    padding-left: 50px;  
    -webkit-appearance: none;
}
[type="radio"] {
    margin: 15px;
    cursor: pointer;
    margin: 10px;
    transform: scale(1.5);
    accent-color: green;
}
.button {
    margin-left: 30%;
    margin-top: 100px;
    border: 6px groove green;
    font-size: 20px;
    color: white;
    background-color: darkgreen;
}