body {
    background: black;
}
h1 {
    color: red;
}
h3 {
    color: pink;
    text-align: center;
    padding-top: 50px;
}
.button {
    border: 6px groove green;
    font-size: 20px;
    color: white;
    background-color: darkgreen;
    margin-left: 650px;
    margin-top: 200px;
}
p {
    color: white;
    text-align: center;
    padding-top: 50px;
}